/*Last update css style 13/02/2023 */

*{
    margin: 0px;
}

:root{
    --darkgreen: #111b21;
    --softgreen: #202c33;
    --white: #d4e6ef;
    --gray: #869694;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}
/*Starting my first section, this section name is messages from my contacts*/
.container-msg{
    width: 30%;
    height: 100%;
    background-color: var(--darkgreen);
}
.container-options{
    background-color: var(--softgreen);
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-options span{
    margin-left: 25%;
    margin-right: 20%;
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10%;
    cursor: pointer;
}
.list-icon, .contacts-icon, .status-icon, .messages-icon, .options-icon, .search-icon, .mic-icon, .emoji-icon, .clip-icon{
    width: 24px;
    height: 24px;
    filter: contrast(0%);
    cursor: pointer;
}
.pdf-icon{
    width: 30px;
    height: 30px;
}
.container-search{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.container-search span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin: 5%;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background-color: var(--softgreen);
}
.list-icon{
    margin-right: 5%;
    width: 16px;
    height: 16px;
}
.search-icon{
    margin-left: 5%;
    width: 14px;
    height: 14px;

}
#search{
    background-color: var(--softgreen);
    color: white;
    border: none;
    outline: none;
    width: 80%;
}
.contact-msg-developer, .contact-msg-pedagogy, .contact-msg-design{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    color: #E9EDEF;
    padding: 0px 15px 0px 0px;
    background-color: var(--darkgreen);
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    
}
.contact-msg-developer:hover, .contact-msg-pedagogy:hover, .contact-msg-design:hover{
    background-color: rgba(255, 255, 255, 0.089);
}
.contact-msg-developer p, .contact-msg-pedagogy p, .contact-msg-design p{
    color: #8696A0;
    font-size: 12px;
}
.contact-msg-developer h4, .contact-msg-pedagogy h4, .contact-msg-design h4{
    color: white;
    font-size: 14px;
}
.contact-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contact-msg-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 12px;
    gap: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-msg-last{
    font-size: 12px;
    opacity: 0.6;
}
hr{
    opacity: 0.1;
    width: 77%;
    margin-left: 20%;
}
/*starting second section of my web page, this section name is chat*/
.container-chat{
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:  100%;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.103);
}
.chat-header{
    width: 100%;
    height: 10%;
    background-color: var(--softgreen);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}
.chat-header span{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat-header img{
    margin-left: 20px;
    cursor: pointer;
}
.chat-contact-info{
    color: white;
    flex-grow: 2;
    width: 150px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.chat-contact-info p{
    width: 150px;
    color: #8696A0;
    font-size: 10px;
    cursor: pointer;
}

/*Starting my chat main text, in this section i will use to write for my portfolio*/
.chat-main{
    height: 80vh; /*84%*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    /*background-image: url("assets/bg.jpg")*/
}

.chat-date{
    display: flex;
    flex-direction: row;
    background-color: var(--softgreen);
    font-size: 12.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  #8696A0;    
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 12px;
}
.chat-message-developer, .chat-message-pedagogy, .chat-message-design{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 14.2px;
    color: #E9EDEF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /*height: 60px;*/
}
.chat-message-developer{
    visibility: hidden; /*for disable and enable chat in JavaScript*/

}
.chat-message-pedagogy{
    visibility: collapse; /*visibility: hidden;  for disable and enable chat in JavaScript*/
}
.chat-message-design{
    visibility: collapse; /*visibility: hidden; for disable and enable chat in JavaScript*/
    
}
.chat-message-text, .chat-message-pdf{
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;    
    align-items: last baseline;
    max-width: 70%;
}
.chat-message-text-time{
    color: #8696A0;

}
#contact-message{
    margin-left: 120px;
    justify-content: flex-start;
}
#contact-message-text{
    background-color: var(--softgreen);
}
#my-message{
    margin-right: 120px;
    justify-content: flex-end;
}
#my-message-text, #my-message-pdf{
    background-color: rgb(0, 92,75);
}
.container-chat-message-pdf{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: rgba(1, 14, 1, 0.096);
    width: 200px;
    border-radius: 10px;
}
.my-cv-pdf{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    gap: 10px;
}
/*Starting my final section, a chat write input */
.chat-footer{
    position: relative;
    height: 10%;
    width: 100%;
    background-color: var(--softgreen);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.chat-footer span{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#message{
    background-color: #2A3942;
    width: 85%;
    height: 65%;
    border: none;
    border-radius: 6px;
    outline: none;
    color: white;
    padding-left: 10px;
}

@media screen and (max-width: 500px){
    body{
        background-color: red;
    }
    .container-msg{
        visibility: hidden;
    }
    .container-chat{
        position:fixed;
        width: 120vw;
        height: 120vh;
    }
    .container-contact-msg{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 80vh;
        
    }
    .contact-msg-img{
        z-index: 1;
        position: absolute;
        visibility: visible;
    }
    .chat-header{
        width: 120vw;
    }
    .chat-contact-info{
        margin-left: 20%;
    }
    .profile-picture{
        position: fixed;
        margin-left: 20px;
    }

}